body {
    font-family: Helvetica, "Times New Roman", sans-serif;
    text-align: center;
    font-size: 24px;
}

p {
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    margin: 10px;
}

img {
    text-align: left;
    height: 500px;
    width: auto;
}

.desc {
    background-color: antiquewhite;
}

.ingredient {
    background-color: rgb(214, 190, 190);
}

.steps {
    background-color: rgb(177, 165, 165);
}

.list, ul{
    text-align: left;
    font-size: 20px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
}

ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.foodlist {
    padding-inline-start: 0px;
    text-align: center;
}

.foodlist li{
    display: inline-block;
    width: auto;
    height: auto;  
    margin: 5px;
    padding: 50px;
    background-color: #cecececc;
}